<div class="cto-toolbar__sections">
    {% for name,section in sections %}
        <div class="cto-toolbar__section cto-toolbar__section--{{ name }}">
            {{ section|raw }}
        </div>
    {% endfor %}
</div>
<div class="cto-toolbar__close"><a href="">&times;</a></div>
